{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="container mt-5">
    <h2 class="subhead fs-4 mb-0 text-white text-center">Login:</h2>
    
    <form action="" method="POST">
      {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label text-white"></label>
          <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label text-white"></label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}
