{% extends 'base.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
<div class="container mt-5">
    <h2 class="subhead fs-4 mb-0 text-white text-center">Post:</h2>
    <div class="card mt-5 border border-info">
        <div class="card-body">
            <h2 class="card-title display-5">{{ post.title }}</h2>
            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="card-footer">     
            <p>By: {{ post.author }}</p>
            <p>Date: {{ post.created }}</p>
        </div>
    </div>
</div>
{% endblock content %}