{% extends 'base.html' %}
{% block title %}Events{% endblock title %}
{% block content %}
<div class="container mt-5">
    <h2 class="subhead fs-4 mb-0 text-white text-center">Events:</h2>
    {% for event in events %}
    <div class="card mt-5 border border-info">
        <div class="card-header">
        <h4>{{ event.name }}</h4>
        </div>
        <div class="card-body">
        <h5 class="card-title">{{ event }}</h5>
        <p class="card-text">{{ event.description }}</p>
        <a href="{% url 'events:event-details' event.pk %}" class="btn btn-primary">Details</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}