{% extends 'base.html' %}
{% block title %}Locations{% endblock title %}
{% block content %}
<div class="container mt-5">
    <h2 class="subhead fs-4 mb-0 text-white text-center">Locations:</h2>
    {% for location in locations %}
    <div class="card mt-5 border border-info pt-2">
        <div class="card-header">
            <h4>{{ location.name }}</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ location }}</h5>
            <p class="card-text">{{ location.address }}</p>
            <a href="{% url 'events:location-details' location.pk %}" class="btn btn-primary">Details</a>
            <a href="{% url 'events:update-location' location.pk %}" class="btn btn-success">Update</a>
            <a href="{% url 'events:delete-location' location.pk %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}