{% extends 'base.html' %}
{% load static %}
{% block title %}{{ location }}{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <h2 class="subhead fs-4 mb-0 text-white text-center">Location Details:</h2>
        <div class="card text-center mt-5 border border-info"> 
            <div class="card-header">
            <h6 class="display-6">{{ location.name }}</h6>
            </div>
            <div class="card-body">
            <h5 class="card-title">{{ location }}</h5>
            <p class="card-text">Name: {{ location.name }}</p>
            <p class="card-text">Address: {{ location.adress }}</p>
            <p class="card-text">Zip-Code: {{ location.zip_code }}</p>
            <p class="card-text">Phone: {{ location.phone_number }}</p>
            <a href="{{ location.web }}">{{ location.web }}</a><br>
            <a href = "mailto: {{ location.email_address }}">{{ location.email_address }}</a>
            </div>
        </div>
    </div>
{% endblock content %}